/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
@font-face {
	font-family: PTSans;
	font-weight: bold;
	src: url(PT_Sans-Caption-Web-Bold.ttf);
}

@font-face {
	font-family: PTSans;
	font-weight: normal;
	src: url(PT_Sans-Caption-Web-Regular.ttf);
}

body {
	margin: 0px;
	padding: 0px;
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2em;
	font-family: PTSansB, Verdana, Helvetica, Arial, sans-serif;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.tt {
	font-family: monospace;
	font-weight: normal;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

#ie6com {
	display: none;
}

.canvas {
	border: solid red 1px;
}

.movy {
	cursor: move;
}

.node {
	cursor: pointer;
}

.node-text tspan {
	font-size: 11px;
	font-style: italic;
	cursor: pointer;
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
}

.node-text-line_0 tspan {
	font-size: 14px;
	font-style: normal;
	cursor: pointer;
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
}

.cancel {
	width: 16px;
	height: 16px;
	background-image: url(cancel.png);
	margin-top: 6px;
	color: white;
}

.filename {
	margin-top: 6px;
	margin-left: 5px;
	color: white;
}

.prgbar-back {
	top: 6px;
	position: relative;
	background-color: #AAA;
	height: 20px;
	margin-left: 10px;
}

.upld-status {
	height: 29px;
}

.upld-status td {
	
}

.GWTUpld {
	padding: 15px;
}

.prgbar-msg {
	position: absolute;
	top: 0px;
	left: 20px;
}

.status {
	margin-top: 6px;
	margin-left: 20px;
	padding-right: 5px;
	white-space: nowrap;
	color: white;
}

.prgbar-done {
	background-color: #EEE;
	margin-left: 0px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.loadingWrap {
	width: 160px;
	height: 60px;
	padding-top: 35px;
	padding-left: 20px;
}

.loadingImg {
	float: left;
	margin-right: 20px;
}

.loadingmsg {
	margin-top: 5px;
	font-size: 14px;
}

.logicalplan-node-errormark-text tspan {
	font-size: 35px;
	font-weight: bold;
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
}

.nodeinfo-block {
	font-size: 11px;
	font-style: italic;
	padding-top: 10px;
}

.nodeinfo-block h4 {
	display: inline;
	margin-right: 10px;
	font-size: 11px;
	font-style: normal;
}

.nodeinfo-error {
	font-weight: bold;
	color: red;
	margin-bottom: 10px;
}

.nodeinfo-error-item {
	margin-bottom: 5px;
}

.nodecontentinfo-ul {
	font-size: 11px;
	padding-left: 0px;
}

.nodecontentinfo-ul li {
	font-size: 11px;
	list-style: none;
}

.nodecontentinfo-ul .nodecontentinfo-ul {
	font-size: 11px;
	padding-left: 30px;
}

.content-attrs li {
	font-style: italic;
	list-style: circle !important;
}

.contentname,.valgroupname {
	font-weight: bold;
}

.nodecontentinfo-ul .nodecontentinfo-ul li {
	font-size: 11px;
	list-style: square;
}

.content-edit-panel-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

.content-edit-panel {
	padding-left: 15px;
}

.field-loading {
	height: 40px;
	background-image: url(loader_small.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.controllpanel,#bugferrylogo {
	background-color: #111;
	opacity: 0.8;
	color: white;
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
}

.controllpanel {
	background-color: #666;
	position: fixed;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	width: 60px;
	top: 80px;
	left: 0px;
	z-index: 200;
}

#bugferrylogo {
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	position: fixed;
	left: 0px;
	top: 0px;
	padding-left: 60px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 25px;
	background-image: url(webferry.png);
	background-position: 10px -1px;
	background-repeat: no-repeat;
	width: 160px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	font-weight: normal;
}

.gwt-StackLayoutPanel
div.gwt-StackLayoutPanelHeader {
	background: #111;
	border: none;
	border-bottom: solid 1px #666;
}

.gwt-StackLayoutPanel
div.gwt-StackLayoutPanelHeader.first {
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}

.gwt-StackLayoutPanel
div.gwt-StackLayoutPanelHeader.last.selected {
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
}

.gwt-StackLayoutPanel {
	border: none;
}

.gwt-StackLayoutPanel
div.gwt-StackLayoutPanelHeader.last {
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	border: none;
}

.gwt-StackLayoutPanel
div.gwt-StackLayoutPanelContent {
	background: transparent;
	border: none;
}

.gwt-DialogBox .dialogTopLeft {
	background-image: none;
}

.gwt-DialogBox .dialogMiddleLeft {
	background-image: none;
}

.gwt-DialogBox .dialogBottomLeft {
	background-image: none;
}

.gwt-DialogBox .dialogTopRight {
	background-image: none;
}

.gwt-DialogBox .dialogMiddleRight {
	background-image: none;
}

.gwt-DialogBox .dialogBottomCenter {
	background-image: none;
}

.gwt-DialogBox .dialogBottomRight {
	background-image: none;
}

.gwt-DialogBox .Caption {
	font-size: 25px;
	background-image: none;
	background: transparent;
	border: none;
	color: white;
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
	padding-left: 0px;
}

.gwt-PopupPanel,.loadingPopUp {
	color: white;
}

.gwt-DialogBox,.gwt-PopupPanel,.loadingPopUp {
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
	border: solid black 0px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	padding: 5px;
	padding-top: 0px;
	background-color: #666;
}

.gwt-DialogBox .dialogMiddleCenter {
	background-color: #F8F8F8;
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
}

table td,table {
	font-family: PTSans, Verdana, Helvetica, Arial, sans-serif;
}

.gwt-Tree,.gwt-Tree td,table .gwt-Tree td,.gwt-Tree table td {
	font-size: 12px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background-color: #666;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	padding: 1px 6px;
	background-color: #AAA;
	color: white;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background-color: #666;
}

.gwt-TabLayoutPanelContentContainer {
	border-color: #888;
	border-width: 1px 0xp
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	font-weight: normal;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border-color: #888;
}

.gwt-SplitLayoutPanel-HDragger {
	background: url("images/splitPanelThumb.png") no-repeat scroll center
		center #AAA;
}

.gwt-PopupPanelGlass {
	background-color: #555;
}

.sourceedit {
	height: 100%;
	width: 100%;
	border: none;
	resize: none;
}

.controllpanel-button {
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 5px;
}

.gwt-Button,.gwt-PushButton-up,.gwt-PushButton-up-disabled,.gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled
	{
	border-top: solid #CCC 1px;
	border-left: solid #CCC 1px;
	border-bottom: solid #999 1px;
	border-right: solid #999 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #BBB;
	background-image: none;
}

.gwt-Button:hover {
	background-color: #fffaae;
	border-top: solid #fffae8 1px;
	border-left: solid #fffae8 1px;
	border-bottom: solid #d6d292 1px;
	border-right: solid #d6d292 1px;
}

.gwt-Button:active {
	background-color: #fffaae;
	border-bottom: solid #fffae8 1px;
	border-right: solid #fffae8 1px;
	border-top: solid #d6d292 1px;
	border-left: solid #d6d292 1px;
}

.gwt-PushButton-down-hovering:hover {
	border-top: solid #fffae8 1px;
	border-left: solid #fffae8 1px;
	border-bottom: solid #d6d292 1px;
	border-right: solid #d6d292 1px;
	background-color: #fffaae;
}

.gwt-PushButton-down {
	border-bottom: solid #CCC 1px;
	border-right: solid #CCC 1px;
	border-top: solid #999 1px;
	border-left: solid #999 1px;
}

.controllbutton-delete {
	background-image: url(icons_black.png);
	background-position: -313px -28px;
}

.controllbutton-edit {
	background-image: url(icons_black.png);
	background-position: -249px -59px;
}

.controllbutton-sort-dot {
	background-image: url(icons_black.png);
	background-position: -250px 4px;
}

.controllbutton-xml {
	background-image: url(icons_black.png);
	background-position: -188px -188px;
}

.controllbutton-xml-down {
	background-image: url(icons_black.png);
	background-position: -152px -188px;
}

.controllbutton-download-plan {
	background-image: url(icons_black.png);
	background-position: -250px -188px;
}

.controllbutton-add {
	background-image: url(icons_black.png);
	background-position: -93px 4px;
}

.controllbutton-upload {
	background-image: url(icons_black.png);
	background-position: -317px -188px;
}

.controllbutton-sort-line {
	background-image: url(icons_black.png);
	background-position: -61px -222px;
}

.controllbutton-sort-circle {
	background-image: url(icons_black.png);
	background-position: -60px -190px;
}

.controllbutton-add-edge {
	background-image: url(icons_black.png);
	background-position: -157px -28px;
}

.controllbutton-sql-down {
	background-image: url(icons_black.png);
	background-position: -221px -188px;
}

.controllbutton-eva {
	
	background-image: url(icons_black.png);
	background-position: -153px -220px;	
	
}


#impressum {
	position: fixed;
	right: 5px;
	top: 0px;
	text-align: right;
	font-size: 11px;
	color: #BBB;
	line-height: 30px;
}

.gwt-StackLayoutPanelHeader:hover {
	background-color: red;
}

.nodePopUp {
	border: solid 1px #feff82 !important;
	background-color: #feffb1 !important;
	opacity: 0.9;
	color: black;
}

.switcher {
	top: 0px;
	left: 250px;
	height: 30px;
	background-color: #111;
	width: 100%;
	opacity: 0.8;
	padding-left: 20px;
}

body.hidden div {
	visibility: hidden;
}

body.visible #loading,body.visible #loading #msg {
	display: none;
}

body.hidden {
	
}

body.visible {
	background-color: #FAFAFA;
}

body.hidden #loading {
	display: block;
	position: absolute;
	width: 100%;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 20px;
	top: 45%;
	left: 0px;
	line-height: 60px;
}

body.hidden #loading #msg {
	display: inline;
	background-image: url(loading-white.gif);
	background-repeat: no-repeat;
	padding-left: 50px;
	padding-bottom: 30px;
	padding-top: 3px;
	color: black;
}

.res-cell {
	padding: 2px;
	border: solid black 1px;
	text-align: right;
}

.header-cell {
	font-style: italic;
	color: #555;
}

.switcher button,.switcher button:hover {
	background: transparent;
	background-image: url(transpa.gif);
	font-size: 11px;
	border: none;
	position: relative;
	z-index: 200;
	min-width: 65px;
	text-align: left;
}

.switcher .planswitchbutton {
	display: inline;
	-webkit-border--radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
	border-top-right-radius: 9px;
	height: 22px;
	font-size: 11px;
	margin-right: 5px;
	border: none;
	position: relative;
	top: 11px;
	text-align: left;
	background-color: #BBBBBB;
	padding: 3px;
}

.switcher .gwt-HTML {
	position: absolute;
	right: 4px;
	top: 2px;
	height: 22px;
}

.switcher .planswitchbutton:hover {
	background-color: #FFFAAE;
}

.switcher .planswitchbutton.active {
	background-color: #FAFAFA;
}

.switcher .error-count {
	text-align: right;
	color: red;
	font-weight: bold;
	font-size: 12px;
}

.eval-item-columns-selected,.eval-item-columns-available .gwt-ListBox {
	width: 200px;
}

.node-adding {
	cursor: crosshair;
}

.edge-connector {
	fill: red;
	cursor: pointer;
}

.edge-connector:hover {
	fill: #FF9696;
}

.available-columns-selector {
	display: inline;
	padding-top: 2px;
	padding-bottom: 2px;
}

.available-columns-selector.erroneous {
	border: solid red 2px;
}

.error-msg-edit-panel {
	color: red;
	margin-bottom: 20px;
	padding-right: 10px;
}

.sql-bubble {
	opacity: 0.7;
	padding-left: 15px;
	background-image: url(pfeil.png);
	background-repeat: no-repeat;
	background-position: left 40px;
	position:relative;
	top: -49px;
	padding-top:30px;
	padding-bottom:30px;
}


.sql-bubble .sql-bubble-close,.sql-bubble .sql-bubble-edit,.sql-bubble .sql-bubble-refresh  {
	
	opacity:0.1;
	position:absolute;
	top:10px;
	right:5px;
	
	padding-top:2px;
	padding-bottom:2px;
	
	width:15px;
	height:20px;

	background:transparent;
	background-image:url(icons_black.png);
	background-position:-295px -38px;
	border:none;
	
}


.sql-bubble.hover .sql-bubble-close,.sql-bubble.hover .sql-bubble-edit,.sql-bubble.hover .sql-bubble-refresh  {
	
	opacity:0.5;
	
}

.sql-bubble.hover .sql-bubble-close:hover,.sql-bubble.hover .sql-bubble-edit:hover,.sql-bubble.hover .sql-bubble-refresh:hover  {

	background-color:transparent;
	border:none;
	opacity:1;
	
}

.sql-bubble  .sql-bubble-edit {

	right:25px;
	background-position:-279px -38px;
}

.sql-bubble  .sql-bubble-refresh {
	
	right:45px;
	background-position:-262px -38px;

	
}


.sql-bubble-inner {
	position: relative;
	top: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
	border-top-right-radius: 9px;
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	border-bottom-left-radius: 9px;
	min-width: 150px;
	max-width: 300px;
	min-height: 60px;
	max-height: 300px;
	overflow: auto;
	background-color: white;
	border: solid black 1px;
	padding:5px;
}

.serialize-panel-inner {
	
	padding:10px;	
	
}

.serialize-panel .iter-use-column,.serialize-panel .iter-use-value {

	
	margin-left:7px;
		
}

.sort-column-button {
	
	margin-left:7px;	
	
}

.use-sort-predef-button {
	
	margin-left:7px;
}

.serialize-panel .value-text-box{

	margin-right:15px;
	width:80px;

}



.node-context-menu {
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	overflow:hidden;
	color:white;
	padding:0px;
	margin:0px;
	border:solid #666 2px;
	min-width:150px;
	
}


.node-context-menu .node-context-menu-item {
	
	background-color:#666666;
	color:white;	
	padding-left:25px;
	padding-top:3px;
	padding-bottom:3px;
	cursor: pointer;
	
}

.node-context-menu .node-context-menu-item.hover {
	
	color:black;
	background-color:#FFFAAE;
	cursor: pointer;
	
}

.node-context-menu .node-context-line-break {
	
	border-top:solid #555 1px;
	border-bottom:solid #777 1px;
	height:0px;
	margin-bottom:2px;
	margin-left:10px;
	margin-right:10px;
	
}

#debugger {

	position:absolute;
	position:fixed;
	bottom:0px;
	right:0px;
	width:60%;
	height:250px;

	padding:5px;
	background-color:#AAA;
	opacity:0.7;
	display:none;	

	
}

#debugger textarea {
	
	width:100%;
	height:100%;
	background:transparent;
	font-size:9px;
	color:black;
	border:0px;
	resize: none;
	
	
	
}


.cancelbutton,.okbutton {

	width:80px;
	margin-right:5px;
	
	
}


#backlogo {
	
	z-index:-100;

	position:absolute;
	position:fixed;
	bottom:0px;
	right:0px;
	height:230px;
	width:403px;
	background-image:url(webferryback.png);


}