/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.canvas {

border:solid red 1px;
}


.controllpanel {

position:fixed;
border:dotted 2px black;
background-color:#EFEFEF;
width:400px;
height:300px;
top:40px;
left:40px;
opacity:0.7;

}

.movy {

cursor:move;

}

.node {

cursor:pointer;	

}


.node-text tspan {

font-size:14px;
cursor:pointer;	

}

.cancel {
	
	width:16px;
	height:16px;
	background-image:url(cancel.png);
	margin-top:6px;
}

.filename {
	margin-top:6px;
	margin-left:5px;
	
}

.prgbar-back {
	
	position:relative;
	padding-left:10px;
	padding-right:10px;
	
}
            
 .upld-status {
 
 	height:29px;
 
 }

.prgbar-msg {
	
	margin-left:20px;
	 position:absolute;
	 top:6px;
	 left:0px;
	 color:#222;
	
}

.status {
	
	 
	 margin-top:6px;
	 margin-left:20px;
	 padding-right:5px;
	 white-space:nowrap;
}

.prgbar-done {

	 background-color:#bcbcff;
	 margin-left:10px;
	 height:25px;
	 position:absolute;
	 top:2px;
	 left:0px;

}

.gwt-PopupPanel {

	border:dotted 2px black !important;
background-color:#EFEFEF !important;


}